.title-section {
    font-size: larger;
    color: coral;
}
/*__________________________1- CSS Nesting Module Syntax For Nesting Selectors __________________________*/

/* Normal */
.parent {
    color: red;
  }
  .parent .child {
    color: grey;
  }
  .parent .child span {
    color: green;
  }
  
  /* With CSS Nesting Module */
  
.parent {
    color: red;
    .child {
      color: grey;
      & span {
        color: green;
      }
      &:hover span {
        font-weight: bold;
      }
    }
  }

  /*__________________________2- CSS Useful Features - Border Block __________________________*/

  .one {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    background-color: #eee;
    writing-mode: vertical-lr;
  }
  .two {
    /* border-block: 2px solid black; */
    border-block-start: 2px solid black;
    border-block-end: 2px solid black;
    writing-mode: vertical-lr;
  }

  /*__________________________3- CSS Useful Features - Where Pseudo Class __________________________*/

  /* Normal Way */
    h1 a,
    h1 span,
    div a,
    div span,
    p a,
    p span {
      color: red;
    }

    /* With Where */
    .parent2 :where(h1, div, p) :where(a, span) {
      color: red;
    }

/*__________________________4- CSS – Balanced Text With Text Wrap __________________________*/

.el {
    background-color: #aaa;
    width: 200px;
    text-wrap: balance;
}

/*__________________________5- CSS – Has() Pseudo Class __________________________*/

/* .parent:has(a, span) {
  border: 2px solid red;
} */
  .paren:has(a):has(span) {
    border: 2px solid blue;
  }
  .row:has(:checked) {
    border: 2px solid green;
  }
  .paren:has(+ form) {
    background-color: #ddd;
  }

/*__________________________6- CSS Useful Features - Nth Child Of __________________________*/

:nth-child(2 of .box) {
  color: red;
}

/*__________________________7- CSS – Is Pseudo Class __________________________*/
/* With Grouping */
div a,
div span,
p a,
p span,
ul a,
ul span {
  color: red;
}

/* With Is */
:is(div, p, ul) :is(a, span) {
  color: red;
}

/* Other Example */
:is(div, p, ul , article, section) :is(a, span, .test) {
  color: red;
}
/*__________________________8- CSS Decorating Text Line, Style And Color __________________________*/
a {
  text-decoration-line: overline;
  text-decoration-style: wavy;
  text-decoration-color: green;
  color: green;
}
span {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: black;
  color: black;
}
/*__________________________9- CSS currentColor Keyword __________________________*/

.parent {
  color: green;
  border: 2px solid currentColor;
  box-shadow: 2px 5px 10px currentColor;
}
.parent .child {
  border: 2px dotted currentColor;
  color: black;
}

/*__________________________10- CSS :Empty Pseudo Class __________________________*/

.alert {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #eee;
}

p {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #eee;
}

:empty {
  border: 1px solid red;
}

/*__________________________11- CSS Select All Text With User Select __________________________*/

.cant-select {
  user-select: none;
}
.all-select {
  user-select: all;
  border: 2px dotted coral;
}
/*__________________________12- Outline-Offset __________________________*/

* {
  box-sizing: border-box;
}
.box {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  width: 400px;
  background-color: #eee;
  text-align: center;
  border: 2px solid black;
  outline: 2px solid green;
  outline-offset: 1px;
}
.box::before {
  position: absolute;
  content: "";
  background-color: #ddd;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid salmon;
  outline: 2px solid rebeccapurple;
  outline-offset: 6px;
}
.box::after {
  position: absolute;
  content: "";
  background-color: #ddd;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid darkcyan;
  outline: 2px solid crimson;
  outline-offset: 11px;
}
/*__________________________13- Scroll-Padding __________________________*/
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 62px; /*has padding top when scrolling*/
}
body {
  margin: 0;
}
h3 {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 62px;
}
h3 a {
  color: white;
}
.sec-1,
.sec-2,
.sec-3 {
  height: 100vh;
}
.sec-2 {
  background-color: #eee;
}